.header-text {
    position: relative;
    align-content: flex;
    margin: auto;
    color: #fff;
    font-weight: lighter;
    font-family: inherit;
    text-align: center;
    font-size: 50px;
    right: 0px;
    left: 0px;  
}


